body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -999;
}

#background {
    position: relative;
    height: 100%;
    background-image: url(../img/bg.png);
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -998;
}

#wallpaper {
    position: relative;
    height: 100%;
    z-index: -997;
}